<!DOCTYPE html>
<html>
<head>
	<title>Addoes</title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Supermercado+One" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Luckiest+Guy" />
</head>
<body>
	<div class="jumbotron text-center">
		<h1>Addoes Main app</h1>
		<p class="lead">Welcome to Addoes HomePage</p>
		<div>
			<div class="row">

  <div class="coreserach">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter Your Uten Here...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
			<div class="row"><p></p></div>
			
			<a class="btn btn-primary" [routerLink] = "['/register']">Register</a> <a class="btn btn-primary" [routerLink] = "['/login']">Login</a>
		</div>
	</div>	

<div class="row">
	<div class="col-md-4">
		<button class="btn btn-primary">Search by Uten</button>
		<p>blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla </p>
	</div>
	<div class="col-md-4">
		<button class="btn btn-primary">Post by Uten</button>
		<p>blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla </p>
	</div>
	<div class="col-md-4">
		<button class="btn btn-primary">Choose your own Customized Uten</button>
		<p>blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla </p>
	</div>
</div>

<footer class="footer">
      <div class="container">
        <p class="text-muted" style="text-align: center;">Copyright Addoes.com @ 2017</p>
      </div>
    </footer>
</body>
</html>
